.splash-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    z-index: 1000;
    opacity: 1;
}

.splash-content {
    text-align: center;
    width: 100%;
    height: 100%;
    position: relative;

    ion-img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
    }

    .text-overlay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 90%;
        opacity: 1;
    }

    h1,
    h2 {
        position: relative;
        z-index: 1;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        animation: colorChange 3s ease-in-out infinite;
    }

    h1 {
        font-size: 32px;
        margin: 0;
        font-weight: 500;
    }

    h2 {
        animation-delay: 0.5s;
    }
}

@keyframes colorChange {
    0% {
        color: #ff8a00;
        /* Orange */
    }

    20% {
        color: #e8d21d;
        /* Yellow */
    }

    40% {
        color: #50c878;
        /* Emerald */
    }

    60% {
        color: #00bfff;
        /* Deep Sky Blue */
    }

    80% {
        color: #a020f0;
        /* Purple */
    }

    100% {
        color: #ff8a00;
        /* Back to Orange */
    }
}