<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Constellation Identifier
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <!-- Swipe Right Indicator -->
  <ion-icon name="chevron-forward-outline" class="swipe-indicator swipe-indicator-right"
    (click)="navigateToMyth()"></ion-icon>

  <!-- Constellation Info Card -->
  <ng-container *ngIf="constellationData$ | async as constellationData">
    <ion-card
      *ngIf="constellationData.name && constellationData.name !== 'Unknown' && !constellationData.name.startsWith('Error:')"
      class="ion-margin-top">
      <img *ngIf="constellationData.imagePath" [src]="constellationData.imagePath"
        alt="{{ constellationData.name }} Image" />

      <ion-card-header>
        <ion-card-title>{{ constellationData.name }}</ion-card-title>
      </ion-card-header>
    </ion-card>

    <div
      *ngIf="!constellationData.name || constellationData.name === 'Unknown' || constellationData.name.startsWith('Error:')"
      class="ion-text-center ion-margin-top">
      <p>{{ constellationData.name?.startsWith('Error:') ?
        'Could not determine constellation.' :
        'Point your device to the sky and press the button.'
        }}
      </p>
      <!-- Show specific error message -->
      <p *ngIf="constellationData.name?.startsWith('Error:')"><i>Reason: {{ constellationData.name }}</i></p>
    </div>
  </ng-container>

  <div class="ion-text-center ion-margin-top">
    <strong>Point your device to the sky and<br>press the 'Find Constellation' button
      <br>- or -<br>select a constellation from the dropdown</strong>

  </div>

  <!-- Buttons Div -->
  <div class="ion-text-center ion-margin-top">
    <ion-button (click)="findConstellation()" expand="block">Find Constellation</ion-button>
  </div>

  <!-- Constellation Dropdown (Moved Here) -->
  <ion-item class="ion-margin-top">
    <ion-label>Celestial Selection...:</ion-label>
    <ion-select [(ngModel)]="selectedConstellationSymbol" (ionChange)="onConstellationChange($event)"
      interface="popover" placeholder="Constellation">
      <!-- Value is the symbol, display is the name -->
      <ion-select-option *ngFor="let constellation of constellations" [value]="constellation.symbol">
        {{ constellation.name }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <br><br><br><br><br><br><br><br>
  <ion-card *ngIf="isTesting" class="ion-margin-top" color="light">

    <ion-card-header>
      <ion-card-title>Debug Info</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="constellationData$ | async as constellationData">
      <p>Lat: {{ currentLatitude?.toFixed(4) ?? 'N/A' }}</p>
      <p>Lon: {{ currentLongitude?.toFixed(4) ?? 'N/A' }}</p>
      <p>Azimuth (alpha): {{ currentAzimuth?.toFixed(2) ?? 'N/A' }}</p>
      <p>Altitude (beta): {{ currentAltitude?.toFixed(2) ?? 'N/A' }}</p>
      <p>Detected: {{ constellationData.name ?? 'N/A' }} </p>
      <p>Image: {{ constellationData.imagePath ?? 'N/A' }}</p>

      <!-- <p>Constellations:</p>
      <ion-list>
        <ion-item *ngFor="let constellation of constellations">
          <ion-label>{{ constellation.symbol }} - {{ constellation.name }}</ion-label>
        </ion-item>
      </ion-list> -->

    </ion-card-content>
  </ion-card>

</ion-content>

<!-- ADD FOOTER AND ITEM HERE -->
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label class="ion-text-center">
        <p>Location: {{ currentLatitude?.toFixed(4) ?? 'N/A' }}, {{ currentLongitude?.toFixed(4) ?? 'N/A' }}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-footer>