<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Stellar Wisdom
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <!-- Swipe Left (Back to Constellation) Indicator -->
    <ion-icon name="chevron-back-outline" class="swipe-indicator swipe-indicator-left"
        (click)="navigateToMyth()"></ion-icon>

    <!-- Swipe Right (Forward to Heavenly Guidance) Indicator -->
    <ion-icon name="chevron-forward-outline" class="swipe-indicator swipe-indicator-right"
        (click)="navigateToHeavenlyGuidance()"></ion-icon>

    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Astrology</ion-title>
        </ion-toolbar>
    </ion-header>


    <div *ngIf="hasValidData; else noData" style="display: flex; flex-direction: column; align-items: center;">

        <ng-container *ngIf="astrologyData$ | async as astrologyData">


            <div
                style="width: 100%; display: flex; gap: 10px; justify-content: center; align-items: center; margin-top: 10px;">

                <ion-button style="background-color: lightblue" (click)="narrateAstrologyShort()" fill="clear"
                    aria-label="Narrate short Astrology">
                    <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
                </ion-button>

                <ion-button style="background-color: lightgreen" (click)="narrateAstrologyLong()" fill="clear"
                    aria-label="Narrate full story">
                    <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
                    <span style="font-size: 0.8em; margin-left: auto; width: 150px;">Astrology</span>
                </ion-button>

                <ion-button style="background-color: red; display: flex; justify-content: center; align-items: center;"
                    (click)="stopReading()" fill="clear" aria-label="Stop">
                    <ion-icon slot="icon-only" name="square" style="color: lightsalmon; font-size: 2em;"></ion-icon>
                </ion-button>


                <!-- <ion-button style="background-color: red" (click)="stopReading()" fill="clear" aria-label="Stop">
                    <ion-icon slot="icon-only" name="stop" style="color: red;"></ion-icon>
                    <span style="font-size: 0.8em; margin-left: auto; width: 40px;"></span>
                </ion-button> -->

            </div>
            <!-- --- -->


            <ion-card style="width: 90%; max-width: 600px;">
                <ion-card-header>
                    <ion-card-title>{{ astrologyData?.name }}</ion-card-title>
                </ion-card-header>
                <ion-card-content>

                    <p>{{ astrologyData?.astrology }}</p>
                </ion-card-content>
            </ion-card>

            <ion-card style="width: 90%; max-width: 600px;" *ngIf="currentAstrologyLong">
                <ion-card-content>
                    <p>{{ currentAstrologyLong }}</p>
                </ion-card-content>
            </ion-card>

        </ng-container>



    </div>


    <!-- Template to show if no data -->
    <ng-template #noData>
        <!-- Wrapper div to enable flex centering -->
        <!-- ion-fill-content might require parent to have known height, using 100% height style -->
        <div style="height: 100%;" class="ion-justify-content-center ion-align-items-center ion-flex">
            <!-- Centered content -->
            <div class="ion-text-center">
                <p class="info-text" style="color: yellow;">Go to the Constellation tab and identify a constellation
                    first.</p>
            </div>
        </div>
    </ng-template>




</ion-content>