<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heavenly Myths
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Swipe Left Indicator -->
  <ion-icon name="chevron-back-outline" class="swipe-indicator swipe-indicator-left"
    (click)="navigateToConstellation()"></ion-icon>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Myth</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- <div style="background-color: lightblue; padding: 20px;">
    <ion-button style="background-color: yellow" (click)="narrateMyth()" fill="clear" slot="end"
      aria-label="Narrate myth">
      <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
    </ion-button>
  </div> -->

  <!-- Display Constellation Data if available -->
  <div *ngIf="constellationData; else noData" style="display: flex; justify-content: flex-end;">
    <ion-card>
      <ion-card-header>
        <ion-card-title>{{ constellationData?.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ constellationData?.myth }}</p>
      </ion-card-content>
    </ion-card>

    <div>
      <ion-button style="background-color: lightblue" (click)="narrateMyth()" fill="clear" aria-label="Narrate myth">
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
      </ion-button>
    </div>
  </div>

  <!-- Template to show if no data -->
  <ng-template #noData>
    <div class="ion-text-center ion-padding">
      <p class="info-text">Go to the Constellation tab and identify a constellation first.</p>
    </div>
  </ng-template>




</ion-content>