<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Heavenly Myths
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <!-- Swipe Left (Back to Constellation) Indicator -->
  <ion-icon name="chevron-back-outline" class="swipe-indicator swipe-indicator-left"
    (click)="navigateToConstellation()"></ion-icon>

  <!-- Swipe Right (Forward to Astrology) Indicator -->
  <ion-icon name="chevron-forward-outline" class="swipe-indicator swipe-indicator-right"
    (click)="navigateToAstrology()"></ion-icon>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Myth</ion-title>
    </ion-toolbar>
  </ion-header>


  <!-- Display Constellation Data if available -->
  <div *ngIf="hasValidData; else noData" style="display: flex; flex-direction: column; align-items: center;">
    <!-- Buttons container -->
    <div style="display: flex; gap: 10px; justify-content: center; align-items: center; margin-top: 10px;">
      <!-- Button for Short Myth Narration -->
      <ion-button style="background-color: lightblue" (click)="narrateMythShort()" fill="clear"
        aria-label="Narrate short myth">
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
        <!-- <span style="font-size: 0.8em; margin-left: 4px;">Short</span> -->
      </ion-button>

      <!-- Button for Long Myth Narration -->
      <ion-button style="background-color: lightgreen" (click)="narrateMythLong()" fill="clear"
        aria-label="Narrate full story">
        <ion-icon slot="icon-only" name="mic-outline"></ion-icon>
        <span style="font-size: 0.8em; margin-left: auto; width: 200px;">Myth</span>
      </ion-button>
    </div>

    <!-- Original Card for Short Myth -->
    <ion-card style="width: 90%; max-width: 600px;">
      <ion-card-header>
        <ion-card-title>{{ constellationData.name }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>{{ constellationData.myth }}</p>
      </ion-card-content>
    </ion-card>

    <!-- Duplicated Card for Long Myth -->
    <ion-card style="width: 90%; max-width: 600px;">
      <!-- <ion-card-header>
        <ion-card-title>{{ constellationData.name }} (Full Story)</ion-card-title>
      </ion-card-header> -->
      <ion-card-content>
        <p>{{ constellationData.mythLong }}</p>
      </ion-card-content>
    </ion-card>


  </div>

  <!-- Template to show if no data -->
  <ng-template #noData>
    <div class="ion-text-center ion-padding">
      <p class="info-text">Go to the Constellation tab and identify a constellation first.</p>
    </div>
  </ng-template>




</ion-content>